In [4]:
import pandas as pd

In [5]:
REG = pd.read_csv(r"C:\Users\B051733\Downloads\projects-2023-f-m-r-23-main\projects-2023-f-m-r-23-main\dataproject\REGK11.csv",index_col=0)
BEF = pd.read_csv(r"C:\Users\B051733\Downloads\projects-2023-f-m-r-23-main\projects-2023-f-m-r-23-main\dataproject\FOLK1A_behandlet",index_col=0)

In [6]:
BEF.rename(columns={'ÅR':'TID'},inplace=True)
new_df = pd.merge(BEF, REG,  how='left', left_on=['OMRÅDE','TID'], right_on = ['OMRÅDE','TID'])
samlet_bef = new_df.groupby(['TID','OMRÅDE'])['INDHOLD'].sum()
new_df['GAMLE'] = new_df['INDHOLD']
new_df.loc[new_df['ALDER']<60,'GAMLE'] = 0
samlet_bef1 = new_df.groupby(['TID','OMRÅDE'])['GAMLE'].sum()
df_ = pd.merge(samlet_bef, samlet_bef1,  how='left', left_on=['OMRÅDE','TID'], right_on = ['OMRÅDE','TID'])
df_['ANDEL'] = df_['GAMLE']/df_['INDHOLD']
df_.rename(columns={'INDHOLD':'SAMLET BEFOLKNING'},inplace=True)

In [9]:
df_ff = pd.merge(df_,REG,how='left', left_on=['OMRÅDE','TID'], right_on = ['OMRÅDE','TID'])

In [10]:
df_ff

,OMRÅDE,TID,SAMLET BEFOLKNING,GAMLE,ANDEL,SUNDHEDSUDGIFTER
0,Aabenraa,2008,60284,14561,0.241540,2635.0
1,Aalborg,2008,195145,42502,0.217797,2393.0
2,Aarhus,2008,298711,53213,0.178142,2394.0
3,Albertslund,2008,27566,5414,0.196401,2598.0
4,Allerød,2008,23515,5253,0.223389,2618.0
...,...,...,...,...,...,...
1595,Vejle,2023,120949,30525,0.252379,NaN
1596,Vesthimmerlands,2023,36431,11754,0.322637,NaN
1597,Viborg,2023,97731,27318,0.279522,NaN
1598,Vordingborg,2023,45441,16655,0.366519,NaN
1599,Ærø,2023,6008,2811,0.467876,NaN